# Build artifacts
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/

# Next.js
.next/
out/

# Vercel
.vercel/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Misc
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.pdf
dist/
